{% trans_default_domain 'news' %}

{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ "news.title"|trans|capitalize }}{% endblock %}

{% block breadcrumbmodule %}
	{{ parent() }}
	<i class="fa fa-chevron-right"></i>
	<span>{{ "news.title"|trans|capitalize }}</span>
	<i class="fa fa-chevron-right"></i>
{% endblock %}

